In [1]:
# https://www.kaggle.com/datasets/madhav000/playstore-analysis

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("googleplaystore.csv")

In [4]:
df.head()

,Rating,App,Category,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,4.1,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,159,19M,"10,000+",Free,0,Everyone,Art & Design,07-Jan-18,1.0.0,4.0.3 and up
1,3.9,Coloring book moana,ART_AND_DESIGN,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,4.7,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,01-Aug-18,1.2.4,4.0.3 and up
3,4.5,Sketch - Draw & Paint,ART_AND_DESIGN,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,08-Jun-18,Varies with device,4.2 and up
4,4.3,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rating          9366 non-null   float64
 1   App             10840 non-null  object
 2   Category        10840 non-null  object
 3   Reviews         10840 non-null  int64
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [6]:
# dropping the rows will null values
df.dropna(subset="Rating", inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9366 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rating          9366 non-null   float64
 1   App             9366 non-null   object
 2   Category        9366 non-null   object
 3   Reviews         9366 non-null   int64
 4   Size            9366 non-null   object
 5   Installs        9366 non-null   object
 6   Type            9366 non-null   object
 7   Price           9366 non-null   object
 8   Content Rating  9366 non-null   object
 9   Genres          9366 non-null   object
 10  Last Updated    9366 non-null   object
 11  Current Ver     9362 non-null   object
 12  Android Ver     9364 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.0+ MB

In [8]:
df["Reviews"].value_counts()

Reviews
2         83
3         78
4         74
5         74
1         67
          ..
49657      1
41420      1
7146       1
44706      1
398307     1
Name: count, Length: 5992, dtype: int64

In [14]:
df["Reviews"] = pd.to_numeric(df["Reviews"])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9366 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rating          9366 non-null   float64
 1   App             9366 non-null   object
 2   Category        9366 non-null   object
 3   Reviews         9366 non-null   int64
 4   Size            9366 non-null   object
 5   Installs        9366 non-null   object
 6   Type            9366 non-null   object
 7   Price           9366 non-null   object
 8   Content Rating  9366 non-null   object
 9   Genres          9366 non-null   object
 10  Last Updated    9366 non-null   object
 11  Current Ver     9362 non-null   object
 12  Android Ver     9364 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.0+ MB

In [20]:
df["Size"].value_counts()
# df["Size"].unique()

Size
Varies with device    1637
14M                    166
12M                    161
11M                    160
15M                    159
                      ...
383k                     1
454k                     1
812k                     1
442k                     1
619k                     1
Name: count, Length: 414, dtype: int64

In [39]:
df["Size"] = df["Size"].replace("M", "e3", regex=True) # we will use e3 for now because when we later when we convert this in float, it will replace e3 with 3 0's
df["Size"] = df["Size"].replace("k", "", regex=True)

In [40]:
df["Size"].unique()

array(['19000', '14000', '8.7000', '25000', '2.8000', '5.6000', '29000',
       '33000', '3.1000', '28000', '12000', '20000', '21000', '37000',
       '2.7000', '5.5000', '17000', '39000', '31000', '4.2000', '23000',
       '6.0000', '6.1000', '4.6000', '9.2000', '5.2000', '11000', '24000',
       '9.4000', '15000', '10000', '1.2000', '26000', '8.0000', '7.9000',
       '56000', '57000', '35000', '54000', '201', '3.6000', '5.7000',
       '8.6000', '2.4000', '27000', '2.5000', '7.0000', '16000', '3.4000',
       '8.9000', '3.9000', '2.9000', '38000', '32000', '5.4000', '18000',
       '1.1000', '2.2000', '4.5000', '9.8000', '52000', '9.0000',
       '6.7000', '30000', '2.6000', '7.1000', '22000', '6.4000', '3.2000',
       '8.2000', '4.9000', '9.5000', '5.0000', '5.9000', '13000', '73000',
       '6.8000', '3.5000', '4.0000', '2.3000', '2.1000', '42000',
       '9.1000', '55000', '23', '7.3000', '6.5000', '1.5000', '7.5000',
       '51000', '41000', '48000', '8.5000', '46000', '8.3000', '4.3000',
       '4.7000', '3.3000', '40000', '7.8000', '8.8000', '6.6000',
       '5.1000', '61000', '66000', '79', '8.4000', '3.7000', '118',
       '44000', '695', '1.6000', '6.2000', '53000', '1.4000', '3.0000',
       '7.2000', '5.8000', '3.8000', '9.6000', '45000', '63000', '49000',
       '77000', '4.4000', '70000', '9.3000', '8.1000', '36000', '6.9000',
       '7.4000', '84000', '97000', '2.0000', '1.9000', '1.8000', '5.3000',
       '47000', '556', '526', '76000', '7.6000', '59000', '9.7000',
       '78000', '72000', '43000', '7.7000', '6.3000', '334', '93000',
       '65000', '79000', '100000', '58000', '50000', '68000', '64000',
       '34000', '67000', '60000', '94000', '9.9000', '232', '99000',
       '624', '95000', '8.5', '41', '292', '11', '80000', '1.7000',
       '10.0000', '74000', '62000', '69000', '75000', '98000', '85000',
       '82000', '96000', '87000', '71000', '86000', '91000', '81000',
       '92000', '83000', '88000', '704', '862', '899', '378', '4.8000',
       '266', '375', '1.3000', '975', '980', '4.1000', '89000', '696',
       '544', '525', '920', '779', '853', '720', '713', '772', '318',
       '58', '241', '196', '857', '51', '953', '865', '251', '930', '540',
       '313', '746', '203', '26', '314', '239', '371', '220', '730',
       '756', '91', '293', '17', '74', '14', '317', '78', '924', '818',
       '81', '939', '169', '45', '965', '90000', '545', '61', '283',
       '655', '714', '93', '872', '121', '322', '976', '206', '954',
       '444', '717', '210', '609', '308', '306', '175', '350', '383',
       '454', '1.0000', '70', '812', '442', '842', '417', '412', '459',
       '478', '335', '782', '721', '430', '429', '192', '460', '728',
       '496', '816', '414', '506', '887', '613', '778', '683', '592',
       '186', '840', '647', '373', '437', '598', '716', '585', '982',
       '219', '55', '323', '691', '511', '951', '963', '25', '554', '351',
       '27', '82', '208', '551', '29', '103', '116', '153', '209', '499',
       '173', '597', '809', '122', '411', '400', '801', '787', '50',
       '643', '986', '516', '837', '780', '20', '498', '600', '656',
       '221', '228', '176', '34', '259', '164', '458', '629', '28', '288',
       '775', '785', '636', '916', '994', '309', '485', '914', '903',
       '608', '500', '54', '562', '847', '948', '811', '270', '48', '523',
       '784', '280', '24', '892', '154', '18', '33', '860', '364', '387',
       '626', '161', '879', '39', '170', '141', '160', '144', '143',
       '190', '376', '193', '473', '246', '73', '253', '957', '420', '72',
       '404', '470', '226', '240', '89', '234', '257', '861', '467',
       '676', '552', '582', '619'], dtype=object)

In [41]:
df = df[df["Size"]!="Varies with device"]
df

,Rating,App,Category,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,4.1,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,159,19000,"10,000+",Free,0,Everyone,Art & Design,07-Jan-18,1.0.0,4.0.3 and up
1,3.9,Coloring book moana,ART_AND_DESIGN,967,14000,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,4.7,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,87510,8.7000,"5,000,000+",Free,0,Everyone,Art & Design,01-Aug-18,1.2.4,4.0.3 and up
3,4.5,Sketch - Draw & Paint,ART_AND_DESIGN,215644,25000,"50,000,000+",Free,0,Teen,Art & Design,08-Jun-18,Varies with device,4.2 and up
4,4.3,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,967,2.8000,"100,000+",Free,0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10832,4.8,Chemin (fr),BOOKS_AND_REFERENCE,44,619,"1,000+",Free,0,Everyone,Books & Reference,23-Mar-14,0.8,2.2 and up
10833,4.0,FR Calculator,FAMILY,7,2.6000,500+,Free,0,Everyone,Education,18-Jun-17,1.0.0,4.1 and up
10835,4.5,Sya9a Maroc - FR,FAMILY,38,53000,"5,000+",Free,0,Everyone,Education,25-Jul-17,1.48,4.1 and up
10836,5.0,Fr. Mike Schmitz Audio Teachings,FAMILY,4,3.6000,100+,Free,0,Everyone,Education,06-Jul-18,1,4.1 and up
10839,4.5,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,398307,19000,"10,000,000+",Free,0,Everyone,Lifestyle,25-Jul-18,Varies with device,Varies with device

In [42]:
df["Size"] = pd.to_numeric(df["Size"])

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7729 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rating          7729 non-null   float64
 1   App             7729 non-null   object
 2   Category        7729 non-null   object
 3   Reviews         7729 non-null   int64
 4   Size            7729 non-null   float64
 5   Installs        7729 non-null   object
 6   Type            7729 non-null   object
 7   Price           7729 non-null   object
 8   Content Rating  7729 non-null   object
 9   Genres          7729 non-null   object
 10  Last Updated    7729 non-null   object
 11  Current Ver     7725 non-null   object
 12  Android Ver     7727 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 845.4+ KB

In [49]:
df["Installs"].unique()

array(['10000+', '500000+', '5000000+', '50000000+', '100000+', '50000+',
       '1000000+', '10000000+', '5000+', '100000000+', '1000+',
       '500000000+', '100+', '500+', '10+', '1000000000+', '5+', '50+',
       '1+'], dtype=object)

In [55]:
# when working with regular expressions in the replace function, it's important to set regex=True to ensure that the provided patterns are treated as regular expressions rather than plain text.

In [56]:
df["Installs"] = df["Installs"].replace({",": "", "\+": ""}, regex=True) # for special symbols like "+" pr "$", use "\" before them when replacing

<>:1: SyntaxWarning: invalid escape sequence '\+'
<>:1: SyntaxWarning: invalid escape sequence '\+'
C:\Users\notmo\AppData\Local\Temp\ipykernel_15656\1177289807.py:1: SyntaxWarning: invalid escape sequence '\+'
  df["Installs"] = df["Installs"].replace({",": "", "\+": ""}, regex=True) # for special symbols like "+" pr "$", use "\" before them when replacing

In [57]:
df["Installs"].unique()

array(['10000', '500000', '5000000', '50000000', '100000', '50000',
       '1000000', '10000000', '5000', '100000000', '1000', '500000000',
       '100', '500', '10', '1000000000', '5', '50', '1'], dtype=object)

In [61]:
df["Installs"] = pd.to_numeric(df["Installs"])

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7729 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rating          7729 non-null   float64
 1   App             7729 non-null   object
 2   Category        7729 non-null   object
 3   Reviews         7729 non-null   int64
 4   Size            7729 non-null   float64
 5   Installs        7729 non-null   int64
 6   Type            7729 non-null   object
 7   Price           7729 non-null   object
 8   Content Rating  7729 non-null   object
 9   Genres          7729 non-null   object
 10  Last Updated    7729 non-null   object
 11  Current Ver     7725 non-null   object
 12  Android Ver     7727 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 845.4+ KB

In [64]:
df["Type"].value_counts() # dont really need to convert but we'll still do it

Type
Free    7150
Paid     579
Name: count, dtype: int64

In [75]:
df["Type"] = df["Type"].replace({"Free": "0", "Paid": "1"}, regex=True)

In [76]:
df["Type"] = pd.to_numeric(df["Type"])

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7729 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rating          7729 non-null   float64
 1   App             7729 non-null   object
 2   Category        7729 non-null   object
 3   Reviews         7729 non-null   int64
 4   Size            7729 non-null   float64
 5   Installs        7729 non-null   int64
 6   Type            7729 non-null   int64
 7   Price           7729 non-null   object
 8   Content Rating  7729 non-null   object
 9   Genres          7729 non-null   object
 10  Last Updated    7729 non-null   object
 11  Current Ver     7725 non-null   object
 12  Android Ver     7727 non-null   object
dtypes: float64(2), int64(3), object(8)
memory usage: 845.4+ KB

In [83]:
df.head()

,Rating,App,Category,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,4.1,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,159,19000.0,10000,0,0,Everyone,Art & Design,07-Jan-18,1.0.0,4.0.3 and up
1,3.9,Coloring book moana,ART_AND_DESIGN,967,14000.0,500000,0,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,4.7,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,87510,8.7,5000000,0,0,Everyone,Art & Design,01-Aug-18,1.2.4,4.0.3 and up
3,4.5,Sketch - Draw & Paint,ART_AND_DESIGN,215644,25000.0,50000000,0,0,Teen,Art & Design,08-Jun-18,Varies with device,4.2 and up
4,4.3,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,967,2.8,100000,0,0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7729 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rating          7729 non-null   float64
 1   App             7729 non-null   object
 2   Category        7729 non-null   object
 3   Reviews         7729 non-null   int64
 4   Size            7729 non-null   float64
 5   Installs        7729 non-null   int64
 6   Type            7729 non-null   int64
 7   Price           7729 non-null   object
 8   Content Rating  7729 non-null   object
 9   Genres          7729 non-null   object
 10  Last Updated    7729 non-null   object
 11  Current Ver     7725 non-null   object
 12  Android Ver     7727 non-null   object
dtypes: float64(2), int64(3), object(8)
memory usage: 845.4+ KB

In [90]:
df["Price"] = df["Price"].replace("\$", "", regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\notmo\AppData\Local\Temp\ipykernel_15656\3509677433.py:1: SyntaxWarning: invalid escape sequence '\$'
  df["Price"] = df["Price"].replace("\$", "", regex=True)

In [91]:
df["Price"].unique()

array(['0', '4.99 ', '6.99 ', '7.99 ', '3.99 ', '5.99 ', '2.99 ', '1.99 ',
       '9.99 ', '0.99 ', '9.00 ', '5.49 ', '10.00 ', '24.99 ', '11.99 ',
       '79.99 ', '16.99 ', '14.99 ', '29.99 ', '12.99 ', '3.49 ',
       '10.99 ', '7.49 ', '1.50 ', '19.99 ', '15.99 ', '33.99 ', '39.99 ',
       '2.49 ', '4.49 ', '1.70 ', '1.49 ', '3.88 ', '399.99 ', '17.99 ',
       '400.00 ', '3.02 ', '1.76 ', '4.84 ', '4.77 ', '1.61 ', '1.59 ',
       '6.49 ', '1.29 ', '299.99 ', '379.99 ', '37.99 ', '18.99 ',
       '389.99 ', '8.49 ', '1.75 ', '14.00 ', '2.00 ', '3.08 ', '2.59 ',
       '19.40 ', '15.46 ', '8.99 ', '3.04 ', '13.99 ', '4.29 ', '3.28 ',
       '4.60 ', '1.00 ', '2.90 ', '1.97 ', '2.56 ', '1.20 '], dtype=object)

In [92]:
df["Price"] = pd.to_numeric(df["Price"])

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7729 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rating          7729 non-null   float64
 1   App             7729 non-null   object
 2   Category        7729 non-null   object
 3   Reviews         7729 non-null   int64
 4   Size            7729 non-null   float64
 5   Installs        7729 non-null   int64
 6   Type            7729 non-null   int64
 7   Price           7729 non-null   float64
 8   Content Rating  7729 non-null   object
 9   Genres          7729 non-null   object
 10  Last Updated    7729 non-null   object
 11  Current Ver     7725 non-null   object
 12  Android Ver     7727 non-null   object
dtypes: float64(3), int64(3), object(7)
memory usage: 845.4+ KB

In [105]:
df["Current Ver"] = df["Current Ver"].replace(" - Hegoa", "", regex=True)

In [107]:
df["Current Ver"].unique()

array(['1.0.0', '2.0.0', '1.2.4', ..., '1.5.447', '1.0.612928', '0.3.4'],
      dtype=object)

In [117]:
df = df[ df["Current Ver"]!="Varies with deice"]

In [122]:
df["Android Ver"].unique()

array(['4.0.3 and up', '4.4 and up', '2.3 and up', '4.2 and up',
       '3.0 and up', '4.1 and up', '4.0 and up', '2.2 and up',
       '6.0 and up', '5.0 and up', '1.6 and up', '2.1 and up',
       '1.5 and up', '7.0 and up', '4.3 and up', '4.0.3 - 7.1.1',
       '2.0 and up', '2.3.3 and up', '3.2 and up', '4.4W and up',
       '5.1 and up', '7.1 and up', '7.0 - 7.1.1', 'Varies with device',
       '8.0 and up', '5.0 - 8.0', '3.1 and up', '2.0.1 and up',
       '4.1 - 7.1.1', nan, '5.0 - 6.0', '1.0 and up'], dtype=object)

In [123]:
df["Android Ver"] = df["Android Ver"].replace(" and up", "", regex=True)

C:\Users\notmo\AppData\Local\Temp\ipykernel_15656\4073729089.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Android Ver"] = df["Android Ver"].replace(" and up", "", regex=True)

In [125]:
df["Android Ver"] = df["Android Ver"].replace({"W": "", "Varies with device": ""}, regex=True)

C:\Users\notmo\AppData\Local\Temp\ipykernel_15656\1456804762.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Android Ver"] = df["Android Ver"].replace({"W": "", "Varies with device": ""}, regex=True)

In [132]:
df = df[ df["Android Ver"] != "" ]

In [141]:
df.head()

0    4.0.3
1    4.0.3
2    4.0.3
4      4.4
5      2.3
Name: Android Ver, dtype: object

In [1]:
# df = df["Android Ver"].dropna()

In [140]:
df.head()

0    4.0.3
1    4.0.3
2    4.0.3
4      4.4
5      2.3
Name: Android Ver, dtype: object